body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: #E5E5E5;
}

header {
    width: 100%;
    height: 80px;
    background: #2D3748;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.symbolsAndTitle {
    flex: 1;
}

.symbolsAndTitle {
    margin-left: 75px;
}

.symbolsAndTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title a {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    margin-left: 0px;
}

.title span {
    font-weight: 500;
    color: #3182CE;
}

.headerLeft {
    display: flex;
    align-items: center;
    margin-right: 26px;
}

a {
    text-decoration: none;
}

.proPlan {
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    color: #FFFCFE;
    margin-right: 18px;
    padding: 7px 11px 7px 14px;
    background: #ED64A6;
    border-radius: 5px;
}

.accountHolderPlace {
    margin-right: 26px;
}


/* container */

.container {
    width: 100%;
    display: flex;
}

.leftSideNav {
    padding: 72px 70px 0px 45px;
}

.LHTop {
    margin-top: 32px;
}

.sideUL {
    list-style-type: none;
}

.sideUL ul li {
    font-size: 18px;
    line-height: 21px;
    font-style: normal;
    font-weight: 400;
}

.sideListColor{
    text-decoration: none;
    color: #2C5282;
}

.listHeading {
    margin-bottom: 32px;
}

.listName {
    width: 24px;
    height: 24px;
}

.LHTop {
    width: 98px;
}

.listHeading-color{
    color: #4299E1;
}

.listMargins {
    margin: 31px 0px;
}

.viewSiteStyle {
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: 21px;
}

.list-flex {
    display: flex;
    align-items: center;
}

.listName {
    width: 110px;
    padding-left: 12px;
}

/* right side container */

.rightSideContainer {
    padding: 36px 63px 0px 23px;
    width: 100%;
    background: #FFFFFF;
}
table {
    margin-bottom: 153px;
}

table tr {
    display: flex;
    margin-bottom: 19px;
}

tr {
    align-items: center;
}

.tableHeader {
    width: 100%;
}


.tdmargin-setup {
    margin-right: 141.5px;
}

.dataTitle {
    width: 70px;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
    color: #2C5282;
}

.dataPostedTime {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
    color: #2C5282;
}

.dataPublished {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
    color: #2C5282;
}

.dataAuther {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
    color: #2C5282;
}

.addNewAndSymbol {
    display: flex;
    align-items: center;
    padding: 12px 24px 11px 24px;
    border-radius: 5px;
    background: #2A4365;
    color: #FFFCFE;
}

.itemColor {
    margin-left: 14px;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
    color: #FFFCFE;
} 


.underLine {
    width: 100%;
}
hr {
    width: 100%;
    padding: 1px;
    background: #E2E8F0;
    border: none;
}

.datamargin-setup {
    margin-right: 83px;
    text-align: center;
}

.titleData {
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    color: #2A4365;
}

.postedTime {
    width: 134px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    color: #2A4365;
}

.published {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    color: #FFFFFF;
    padding: 7px 23px 6px 26px;
    background: #9AE6B4;
    border-radius: 50px;
    margin-left: -22px;
}

.autherAndAdmin {
    display: flex;
    align-items: center;
}

.autherDate {
    width: 70px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #2c4464;
    margin-left: -15px;
}

.autherAdmin {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    color: #fffcff;
    padding: 5px 16px 5px 15px;
    background: #2C5282;
    border-radius: 50px;
    margin-left: 23px;
}

.noneData {
    align-items: center;
    margin-left: 13.5px;
}

.tableInsideData {
    padding: 36px 54px 36px 35px;
    background: #F7FAFC;
}