body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  background: #e5e5e5;
}

header {
  width: 100%;
  height: 80px;
  background: #2d3748;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.symbolsAndTitle {
  margin-left: 75px;
}

.symbolsAndTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title a {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  margin-left: 0px;
}

.title span {
  font-weight: 500;
  color: #3182ce;
}

.headerLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 26px;
}

a {
  text-decoration: none;
}

.proPlan {
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
  color: #fffcfe;
  margin-right: 18px;
  padding: 7px 11px 7px 14px;
  background: #ed64a6;
  border-radius: 5px;
}

.accountHolderPlace {
  margin-right: 26px;
}

/* container */
.container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.leftSideNav {
  padding: 72px 70px 153px 45px;
}

.leftSideNav #toggle {
  display: none;
}

.leftSideNav .checkbtn {
  display: none;
}

.LHTop {
  margin-top: 32px;
}

.sideUL {
  list-style-type: none;
}

.sideUL ul li {
  font-size: 18px;
  line-height: 21px;
  font-style: normal;
  font-weight: 400;
}

.sideListColor {
  text-decoration: none;
  color: #2c5282;
}

.listHeading {
  margin-bottom: 32px;
}

.listName {
  width: 24px;
  height: 24px;
}

.LHTop {
  width: 98px;
}

.listHeading-color {
  color: #4299e1;
}

.listMargins {
  margin: 31px 0px;
}

.viewSiteStyle {
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: 21px;
}

.list-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.listName {
  width: 110px;
  padding-left: 12px;
}

/* rightSide */
.rightSideContainer {
  padding: 38px 31px 29px 38px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #ffffff;
}

.rightSideContainerHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rightSideContainerHeader #toggle2 {
  display: none;
}

.line {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.line {
  color: #e2e8f0;
  /* border: 1px solid #E2E8F0; */
}

.headerRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-pageSetup {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #2a4365;
  text-decoration: none;
}

nav #checkbtn {
  display: none;
}

nav .checkbutton {
  display: none;
}

nav li {
  list-style-type: none;
  margin-left: 20px;
}

nav ul li a {
  text-decoration: none;
}

.admin-setup {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  padding: 5px 17px;
  color: #fffcfe;
  background: #2c5282;
  border-radius: 50px;
}

.jBloggs-setup {
  width: 70px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #2a4365;
}

.clock {
  width: 24px;
  height: 24px;
}

.eye {
  width: 24px;
  height: 24px;
}

.paddingForSP {
  padding: 12px 14px;
  background: #bee3f8;
  font-size: 16px;
  font-weight: 700;
  border-radius: 5px;
}

.paddingForPP {
  padding: 12px 18px;
  background: #2a4365;
  font-size: 16px;
  font-weight: 700;
  border-radius: 5px;
}

hr {
  border: 1px solid #e2e8f0;
  width: 280px;
  margin-left: 0;
}

.color-setup {
  text-decoration: none;
  color: #fffcfe;
  margin-left: 14px;
}

.addingSection {
  width: 100%;
  border: 1px solid #bee3f8;
  padding: 123px 0px 122px 0px;
  background: #f7fafc;
  margin-top: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid {
  margin-top: -250px;
  padding: 20px 0px 0px 9px;
}

.addingSection-boxSetup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto auto;
}

.newSectionColourSetup {
  width: 134px;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  text-decoration: none;
  margin-left: 12px;
  color: #2a4365;
}

@media (max-width: 992px) {
  body header {
    width: 100vw;
  }
  body section {
    width: 100vw;
    height: 100vh;
  }
  body section .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  body section .container .leftSideNav {
    padding: 25px 20px 0 20px;
  }
  body section .rightSideContainer {
    padding: 20px 0px 20px 0px;
  }
  body section .rightSideContainer .rightSideContainerHeader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body section .rightSideContainer .rightSideContainerHeader ul {
    margin-top: 20px;
    margin-left: -50px;
  }
  body section .rightSideContainer .lastConatainer {
    height: 60vh;
    padding: 0 15px 0 15px;
  }
}

@media (max-width: 756px) {
  body header {
    width: 100vw;
  }
  body section {
    width: 100vw;
    height: 100vh;
  }
  body section .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body section .container aside {
    background: #ffffff;
  }
  body section .container .leftSideNav {
    padding: 0;
    margin-left: -40px;
  }
  body section .container .leftSideNav .sideUL {
    background: #e2e8f0;
    display: none;
  }
  body section .container .leftSideNav .sideUL li {
    margin: 15px 0;
    border: 2px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 5px;
  }
  body section .container .leftSideNav .sideUL .listMargins {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 20px 0;
  }
  body section .container .leftSideNav .sideUL .listHeading-color {
    margin-left: -80px;
  }
  body section .container .leftSideNav .sideUL .present-page {
    margin-left: -20px;
  }
  body section .container .leftSideNav .sideUL .listHeading {
    border: none;
  }
  body section .container .leftSideNav .sideUL .LHTop {
    width: 100%;
    margin-left: 10px;
  }
  body section .container .leftSideNav label {
    position: relative;
    top: 20px;
    left: 20px;
    margin: 20px 0px 0 40px;
    width: 25px;
    display: block;
    cursor: pointer;
  }
  body section .container .leftSideNav #toggle:checked + .sideUL {
    display: block;
  }
  body section .rightSideContainer {
    padding: 0px 0px 20px 0px;
  }
  body section .rightSideContainer .rightSideContainerHeader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body section .rightSideContainer .rightSideContainerHeader ul {
    margin-top: 20px;
    margin-left: -50px;
  }
  body section .rightSideContainer .lastConatainer {
    height: 60vh;
    padding: 0 15px 0 15px;
  }
}

@media (max-width: 576px) {
  body header {
    width: 100vw;
  }
  body section {
    width: 100vw;
    height: 100vh;
  }
  body section .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body section .container aside {
    background: #ffffff;
  }
  body section .container .leftSideNav {
    padding: 0;
    margin-left: -40px;
  }
  body section .container .leftSideNav .sideUL {
    background: #e2e8f0;
    display: none;
  }
  body section .container .leftSideNav .sideUL .listHeading {
    padding: 5px 0;
  }
  body section .container .leftSideNav .sideUL .listMargins {
    margin: 13px 0;
  }
  body section .container .leftSideNav .sideUL .LHTop {
    width: 100%;
    margin-left: 10px;
  }
  body section .container .leftSideNav label {
    position: relative;
    top: 20px;
    margin: 20px 0px 0 40px;
    width: 25px;
    display: block;
    cursor: pointer;
  }
  body section .container .leftSideNav #toggle:checked + .sideUL {
    display: block;
  }
  body section .rightSideContainer {
    padding: 0px 0px 20px 0px;
  }
  body section .rightSideContainer .rightSideContainerHeader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body section .rightSideContainer .rightSideContainerHeader ul {
    display: block;
    text-align: center;
    margin-right: 55px;
  }
  body section .rightSideContainer .rightSideContainerHeader ul li {
    height: 50px;
    width: 280px;
    background: #2c5282;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  body section .rightSideContainer .rightSideContainerHeader ul .joe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body section .rightSideContainer .rightSideContainerHeader ul .jBloggs-setup {
    width: 100px;
    color: #fffcfe;
    font-size: 15px;
    font-weight: 600;
  }
  body section .rightSideContainer .rightSideContainerHeader ul .admin {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body section .rightSideContainer .rightSideContainerHeader ul .admin-setup {
    background: none;
    padding: 0;
    font-size: 17px;
  }
  body section .rightSideContainer .rightSideContainerHeader ul .paddingForSP {
    padding: 0;
  }
  body section .rightSideContainer .rightSideContainerHeader ul .paddingForSP .clock {
    margin-left: 70px;
  }
  body section .rightSideContainer .rightSideContainerHeader ul .paddingForPP {
    padding: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body section .rightSideContainer .lastConatainer {
    padding: 0 15px 0 15px;
  }
}
/*# sourceMappingURL=createPage-view.css.map */