body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: #E5E5E5;
}

header {
    width: 100%;
    height: 80px;
    background: #2D3748;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.symbolsAndTitle {
    flex: 1;
}

.symbolsAndTitle {
    margin-left: 75.46px;
}

.symbolsAndTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title a {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    margin-left: 0px;
}

.title span {
    font-weight: 500;
    color: #3182CE;
}

.headerLeft {
    display: flex;
    align-items: center;
    margin-right: 26px;
}

a {
    text-decoration: none;
}

.proPlan {
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    color: #FFFCFE;
    margin-right: 18px;
    padding: 7px 11px 7px 14px;
    background: #ED64A6;
    border-radius: 5px;
}

.accountHolderPlace {
    margin-right: 26px;
}

/* container */

.container {
    width: 100%;
    display: flex;
}

.leftSideNav {
    padding: 72px 70px 0px 45px;
}

.LHTop {
    margin-top: 32px;
}

.sideUL {
    list-style-type: none;
}

.sideUL ul li {
    font-size: 18px;
    line-height: 21px;
    font-style: normal;
    font-weight: 400;
}

.sideListColor{
    text-decoration: none;
    color: #2C5282;
}

.listHeading {
    margin-bottom: 32px;
}

.listName {
    width: 24px;
    height: 24px;
}

.LHTop {
    width: 98px;
}

nav .listHeading-color{
    color: #4299E1;
}

.listMargins {
    margin: 31px 0px;
}

.viewSiteStyle {
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: 21px;
}

.list-flex {
    display: flex;
    align-items: center;
}

.listName {
    width: 110px;
    padding-left: 12px;
}

/*  */

.rightSideContainer {
    width: 100%;
    padding: 50px 41px 25px 41px;
    background: #fff;
}

.uploadAndDragDrop {
    padding-top: 36px;
    display: flex;
    flex-direction: column;
    background: #F7FAFC;
    align-items: center;
}

.upload {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 19px;
    border-radius: 5px;
    padding: 13px 20px 13px 19px;
    background: #2C5282;
    margin-bottom: 19px;
}

.uploadStyle {
    color: #FFFFFF;
}

.dragAndDrop {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    color: #2C5282;
    text-align: center;
    margin-bottom: 37px;
}

.searchAndnav {
    display: flex;
    align-items: center;
    margin: 25px 0px 27px 0;
}

.hrLine {
    flex: 1;
}

.searchIconAndsearch {
    display: flex;
    align-items: center;
}

.searchAndnav nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}

.searchAndnav nav ul li {
    margin-left: 21px;
}

.search {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    color: #718096;
    border: none;
    margin-left: 19px;
}

hr {
    margin-left: 0px;
    width: 243px;
    border: 1px solid #E2E8F0;
}

.filter {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    color: #90CDF4;
}

.images {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    padding: 5px 14px 5px 15px;
    background: #2C5282;
    border-radius: 50px;
}

.imageColor {
    color: #F7FAFC;
}

.files {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    color: red;
    padding: 3px 14px 5px 16px;
    border: 1px solid #2C5282;
    box-sizing: border-box;
    border-radius: 50px;
}

.navListColor {
    color: #2C5282;
}

.audio {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    padding: 3px 14px 5px 14px;
    border: 1px solid #2C5282;
    box-sizing: border-box;
    border-radius: 50px;
}

.video {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    padding: 4px 14px 4px 17px;
    border: 1px solid #2C5282;
    box-sizing: border-box;
    border-radius: 50px;
}

.flex-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 13px 54px 13px 19px;
    background: #F7FAFC;
    margin-bottom: 15px;
}

.aboutImage {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    color: #2A4365;
    margin: 0px 150px 0px 152px;
}

.photoUploadedTime {
    width: 171px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    color: #2A4365;
    margin-right: 141.2px
}

/* page numbers */

.pageNumbers {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 37px 0 27px 0;
}

.pageNumber1 {
    padding: 6px 10px 5px 10px;
    background: #2A4365;
    color: #F7FAFC;
    border-radius: 50px;
}

.pageNumber {
    padding: 6px 10px 5px 10px;
    background: #E2E8F0;
    color: #2C5282;
    border-radius: 50px;
}

.pageNumber-margin {
    margin-right: 9px;
}