body {
    padding: 0;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #E5E5E5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginPage-title {
    width: 128px;
    height: 35px;
    font-size: 30px;
    line-height: 35px;
    position: absolute;
    top: 130px;
}


.rivalStyling{
    font-style: normal;
    color: #2A4365;
    font-weight: normal;
    text-decoration: none;
}

.rivalStyling span {
    font-weight: 400;
    color: #3182CE;
}


.EmailPassword {
    height: 513px;
    width: 518px;
    position: absolute;
    top: 200px;
    border-radius: 10px;
    background: #FFFFFF;
}

input {
    border-radius: 5px;
    border: none;
    background: #EDF2F7;
}
/* email */

.emailAddress-PNG{
    height: 10px;
    width: 9px;
    position: relative;
    left: 45px;
    top: 30px;
    border-radius: 0px;  
}
.emailAddress-PNG1 {
    height: 6px; 
    width: 16px;
    position: relative;
    left: 45px;
    top: 26px;
    border-radius: 0px; 
}

.emailAddress {
    height: 23px;
    width: 127px;
    line-height: 23px;
    position: relative;
    left: 76px;
    top: 16px;
    border-radius: nullpx;
}

.emailAddress-styling {
    font-size: 20px; 
    font-weight: 400;
    line-height: 23px;
    color: #2A4365;
    font-weight: 400;
}

.email-inputBox {
    position: relative;
    left: 42px;
    top: 40px;
    border-radius: 50px;
    text-align: left;
}

.emailInput-styling {
    height: 70px;
    width: 436px;
}

/* password */


.password-PNG {
    height: 7px;
    width: 20px;
    position: relative;
    left: 49.4px;
    top: 65px;   
}

.password-PNG1 {
    height: 16px; 
    width: 20px;
    position: relative;
    left: 46px;
    top: 71px;
    border-radius: 0px;
}

.password {
    height: 23px;
    width: 89px;
    line-height: 23px;
    position: relative;
    left: 74px;
    top: 48px;
    border-radius: nullpx;
}

.password-styling {
    font-size: 20px; 
    color: #2A4365;
    font-weight: 400;
}

.password-inputBox {
    position: relative;
    left: 42px;
    top: 75px;
    border-radius: 5px;
}

.passwordInput-styling {
    height: 70px;
    width: 433px;
}

/* sign in */

.forgotPossword-styling a{
    font-weight: 400;
    font-size: 20px;
    color: #3182CE;
    text-decoration: none;
    position: relative;
    top: 125px;
    left: 47px;
}

.signIn {
    width: 201px;
    height: 61px;
    position: relative;
    top: 80px;
    left: 277px;
    background: #2A4365;
    border-radius: 5px;
}
.signIn-styling {
    position: relative;
    top: 33px;
    left: 345px;
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;
    text-decoration: none;
}

.creatingAccount {
    width: 430px;
    height: 61px;
    position: relative;
    top: 80px;
    left: 45px;
    border: .5px solid #2A4365;
    border-radius: 5px;
}

.creatingAccount-styling a{
    font-weight: 400;
    font-size: 20px;
    position: relative;
    left: 120px;
    top: 14px;
    color: #2A4365;
    text-decoration: none;
}
