body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: #E5E5E5;
}

header {
    width: 100%;
    height: 70px;
    background: #2D3748;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.symbolsAndTitle {
    margin-left: 59.5px;
}

.signIn-InHeader {
    margin-right: 48px;
}

.symbolsAndTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title a {
    font-size: 20px;
    width: 85px;
    text-decoration: none;
    font-weight: 400;
    color: #FFFFFF;
}

.title span {
    font-weight: 500;
    color: #3182CE;
}

.signIn-InHeader a {
    width: 80px;
    height: 52px;
    font-size: 20px;
    padding: 7px 24px 7px 25px;
    border: 1px solid #EDF2F7;
    border-radius: 5px;
    text-decoration: none;
    color: #FFFFFF;
}

.register-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginPage-title {
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 47px;
    letter-spacing: 0em;
    margin: 88px auto 47px auto;
}

.rivalStyling {
    font-style: normal;
    color: #2A4365;
    font-weight: 500;
    text-decoration: none;
}

.rivalStyling span {
    font-weight: 500;
    color: #3182CE;
}

.UserEmailPasswordAndRegister {
    padding: 0 40px;
    background: #FFFFFF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 109px;
}

.UserEmailPassword {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* fullName */

.userNameAndInputBox {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 31px;
}

.symbolsAndFullName {
    display: flex;
    align-items: center;
}

.userName {
    width: 120px;
    margin-left: 15px;
}

.userNAme-styling {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
}

.inputBox {
    margin-top: 20px;
    margin-bottom: 22px;
}

.input-styling {
    width: 436px;
    height: 66px;
    font-size: 24px;
    border-radius: 5px;
    border: none;
    background: #EDF2F7;
}

/* email */

.emailAddressAndInputBox {
    display: flex;
    flex-direction: column;
}

.symbolsAndemail {
    display: flex;
    align-items: center;
}

.emailAddress {
    width: 130px;
    margin-left: 11px;
    border-radius: nullpx;
}

.emailAddress-styling {
    font-size: 20px;
    line-height: 23px;
    color: #2A4365;
    font-weight: 400;
}

.email-inputBox {
    margin-top: 20px;
    margin-bottom: 22px;
}

.emailInput-styling {
    height: 66px;
    width: 436px;
    font-size: 24px;
    border-radius: 5px;
    border: none;
    background: #EDF2F7;
}

/* password */

.passwordAndInputBox {
    display: flex;
    flex-direction: column;
}

.symbolAndPassword {
    display: flex;
    align-items: center;
}

.password {
    width: 87px;
    margin-left: 10px;
    border-radius: nullpx;
}

.password-styling {
    font-size: 20px;
    line-height: 23px;
    color: #2A4365;
    font-weight: 400;
}

.password-inputBox {
    margin-top: 20px;
}

.passwordInput-styling {
    height: 66px;
    width: 436px;
    font-size: 24px;
    border-radius: 5px;
    border: none;
    background: #EDF2F7;
}

.register {
    text-align: right;
    margin-top: 56px;
    margin-bottom: 48px;
}

.register-styling a {
    width: 74px;
    height: 23px;
    font-size: 20px;
    text-decoration: none;
    font-weight: 400;
    color: #FFFFFF;
    padding: 18px 70px 20px 70px;
    background: #2A4365;
    border-radius: 5px;
}


/* media quires */


@media (max-width: 1200px){
    body {
        height: 100vh;
    }
    .loginPage-title {
        margin: 40px 0px 30px 0;
        font-size: 30px;
    }
    .UserEmailPasswordAndRegister {
        margin-bottom: 50px;
    }
}

@media (max-width: 768px){
    body {
        height: 100vh;
    }
    .loginPage-title {
        margin: 30px 0 20px 0;
        font-size: 28px;
    }
    .signIn-InHeader a{
        padding: 5px 22px;
    }
    .UserEmailPasswordAndRegister {
        margin-bottom: 0px;
    }
    .UserEmailPasswordAndRegister {
        padding: 0 35px;
        margin-bottom: 20px;
    }
    .userTextBeforSymbols img{
        width: 22px;
        color: black;
    }
    .symbolsAndFullName {
        margin: 0px 0px -10px 0;
    }
    .userName{
        margin-left: 8px;
        font-size: 20px;
        color: #2A4365;
    }
    .userNameAndInputBox {
        margin-top: 20px;
    }
    .symbolsAndemail {
        margin: 0px 0px -10px 0;
    }
    .emailTextBeforSymbols img{
        width: 22px;
        color: black;
        margin-top: 2px;
    }
    .input-styling {
        width: 356px;
        height: 50px;
        font-size: 20px;
    }
    .symbolAndPassword {
        margin: 0px 0px -10px 0;
    }
    .emailInput-styling {
        height: 50px;
        width: 356px;
        font-size: 20px;
    }
    .password {
        margin-left: 8px;
        font-size: 20px;
        color: #2A4365;
    }
    .passwordTextBeforSymbols img{
        width: 22px;
        color: black;
    }
    .passwordInput-styling{
        height: 50px;
        width: 356px;
        font-size: 20px;
    }
    .register {
        margin-top:  35px;
        margin-bottom: 35px;
    }
    .register-styling a{
        padding: 10px 30px;
    }
} 

@media (max-width: 576px) {
    body {
        height: 100vh;
    }
    .signIn-InHeader a{
        padding: 5px 20px;
    }
    .loginPage-title {
        margin: 30px 0px 20px 0;
        font-size: 25px;
    }
    .UserEmailPasswordAndRegister {
        padding: 0 25px;
        margin-bottom: 20px;
    }
    .userTextBeforSymbols img{
        width: 22px;
        color: black;
    }
    .symbolsAndFullName {
        margin: 0px 0px -10px 0;
    }
    .userName{
        margin-left: 8px;
        font-size: 20px;
        color: #2A4365;
    }
    .userNameAndInputBox {
        margin-top: 20px;
    }
    .symbolsAndemail {
        margin: 0px 0px -10px 0;
    }
    .emailTextBeforSymbols img{
        width: 22px;
        color: black;
        margin-top: 2px;
    }
    .input-styling {
        width: 356px;
        height: 45px;
        font-size: 20px;
    }
    .symbolAndPassword {
        margin: 0px 0px -10px 0;
    }
    .EmailPassword {
        margin-left: 8px;
        font-size: 20px;
        color: #2A4365;
    }
    .emailInput-styling {
        height: 45px;
        width: 356px;
        font-size: 20px;
    }
    .password {
        margin-left: 8px;
        font-size: 20px;
        color: #2A4365;
    }
    .passwordTextBeforSymbols img{
        width: 22px;
        color: black;
    }
    .passwordInput-styling{
        height: 45px;
        width: 356px;
        font-size: 20px;
    }
    .register {
        margin-top:  35px;
        margin-bottom: 35px;
    }
    .register-styling a{
        padding: 10px 30px;
    }
}