body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: #E5E5E5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.loginPage-title {
    font-size: 40px;
    line-height: 35px;
    margin: 107px auto 39px auto;
}


.rivalStyling{
    color: #2A4365;
    font-weight:400;
    text-decoration: none;
}

.rivalStyling span {
    font-weight: 500;
    color: #3182CE;
}

.EmailPassword {
    width: 512px;
    border-radius: 10px;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    margin-bottom: 206px;
}


/* email */

.emailAddressAndInputBox {
    display: flex;
    flex-direction: column;
}

.symbolsAndemail {
    display: flex;
    align-items: center;
    margin-bottom: 21px
}

.emailAddress {
    height: 23px;
    width: 127px;
    line-height: 23px;
    border-radius: nullpx;
    margin-left: 11px;
}

.emailAddress-styling {
    font-size: 20px; 
    line-height: 23px;
    color: #2A4365;
    font-weight:100;
}

.emailInput-styling {
    height: 70px;
    width: 436px;
    font-size: 24px;
    border-radius: 5px;
    border: none;
    background: #EDF2F7;
}

/* password */
.passwordAndInputBox {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.symbolAndPassword {
    display: flex;
    align-items: center;
    margin-top: 21px;
    margin-bottom: 21px;
}

.password {
    height: 23px;
    width: 89px;
    line-height: 23px;
    margin-left: 5px;
}

.password-styling {
    font-size: 20px; 
    color: #2A4365;
    font-weight: 400;
}

.passwordInput-styling {
    height: 70px;
    width: 436px;
    font-size: 24px;
    border-radius: 5px;
    border: none;
    background: #EDF2F7;
}

/* sign in */

.forgotAndSignIn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 43px;
}


.forgotPossword-styling a{
    font-weight: 400;
    font-size: 20px;
    color: #3182CE;
    text-decoration: none;
}

.signIn-styling {
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;
    background: #2A4365;
    padding: 18px 71px 18px 70px;
    border-radius: 5px;
    text-decoration: none;
}

.creatingAccount {
    margin-top: 43px;
    margin-bottom: 26px;
    padding: 15px 120px 19px 111px;
    border: 2px solid #2A4365;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 26px;
}

.creatingAccount-styling a{
    font-weight: 400;
    font-size: 20px;
    color: #2A4365;
    text-decoration: none;
}


/* @media (max-width: 1400px){
    body {
        height: 100vh;
    }
    .loginPage-title {
        margin: 50px 0px;
    }
    .EmailPassword {
        margin-bottom: 0px;
    }
} */

@media (max-width: 1200px){
    body {
        height: 100vh;
        margin-top: 100px;
    }
    .loginPage-title {
        margin: 50px 0px;
        font-size: 30px;
    }
    .EmailPassword {
       margin-bottom: 200px;
    }
}


@media (max-width: 768px){
    body {
        height: 100vh;
    }
    .loginPage-title {
        margin: 40px 0;
        font-size: 30px;
    }
}

@media (max-width: 576px) {
    body {
        height: 100vh;
        margin:0;
    }
    .loginPage-title {
        margin: 0px 0px 30px 0;
        font-size: 30px;
    }
    .EmailPassword {
        /* padding: 10px; */
        width: 430px;
        margin-bottom: 20px;
        justify-content: center;
    }
    .symbolsAndemail {
        margin: 0px 0px 15px 0;
    }
    .emailAddress {
        margin-left: 5px;
    }
    .emailInput-styling{
        height: 60px;
        width: 356px;
        font-size: 20px;
    }
    .symbolAndPassword {
        margin: 15px 0;
    }
    .password {
        font-size: 20px;
    }
    .passwordInput-styling{
        height: 60px;
        width: 356px;
        font-size: 20px;
    }
    .creatingAccount{
        padding: 15px;
    }
    .forgotPossword-styling a{
        font-size: 20px;
    }
    .signIn-styling {
        padding: 15px 50px;
    }
}