body {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #E5E5E5;
}

header {
    width: 100%;
    height: 70px;
    background: #2D3748;   
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 7px;
}

.symbolsAndTitle {
    flex: 1;
}
.signIn-InHeader {
    margin-right: 20px;
}

.symbolsAndTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.symbols {
    margin-left: 20px;
    margin-top: -7px;
}
.headerSymbol{
    width: 20px;
    height: 24px;
    transform: rotate(-2deg);
}
.symbolSetup {
    margin-top: 10px;
}

.headerSymbol1 {
    width: 20px;
    height: 24px;
    transform: rotate(180deg);
    margin-left: 20px;
}

.title a{
    font-size: 20px;
    width: 85px;
    text-decoration: none;
    font-weight: 400;
    color: #FFFFFF;
    margin-left: 10px;
    
}
.title span {
    font-weight: 500;
    color: #3182CE;
}

.signIn-InHeader a{
    width: 80px;
    height: 52px;
    font-size: 20px;
    padding: 7px 24px 13px 25px;
    border: 1px solid #EDF2F7;
    border-radius: 5px;
    text-decoration: none;
    color: #FFFFFF;
}

.register-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.loginPage-title {
    width: 128px;
    height: 35px;
    font-size: 30px;
    line-height: 35px;
    margin-top: 88px;
}


.rivalStyling{
    font-style: normal;
    color: #2A4365;
    font-weight: normal;
    text-decoration: none;
}

.rivalStyling span {
    font-weight: 400;
    color: #3182CE;
}

.userEmailPassword {
    height: 541px;
    width: 512px;
    background: #FFFFFF;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 250px;
}

/* fullName */

.userNameAndInputBox {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.symbolsAndFullName {
    display: flex;
    /* align-items: center; */
}

.userName-PNG {
    height: 8px;
    width: 8px;
    margin-left: 3px;
    margin-top: -2px;
}


.userName-PNG1 {
    height: 6px;
    width: 16px;
    margin-top: 2px;
}

.userName {
    height: 23px;
    width: 87px;
    margin-left: 10px;
}

.userNAme-styling {
    font-size: 20px;
    line-height: 23.44px;
    color: #2A4365;
    font-weight: 400;
}

.inputBox {
    margin-top: 15px;
}

.input-styling {
    width: 436px;
    height: 70px;
    border-radius: 5px;
    border: none;
    background: #EDF2F7;
}

/* email */
.emailAddressAndInputBox {
    display: flex;
    flex-direction: column;
}

.symbolsAndemail {
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.emailAddress-PNG {
    height: 7px;
    width: 20px;
}

.emailAddress-PNG1 {
    height: 16px;
    width: 20px;
    border-radius: 0px;
}

.emailAddress {
    height: 23px;
    width: 126px;
    margin-left: 10px;
    margin-top: 5px;
    border-radius: nullpx;
}

.emailAddress-styling {
    font-size: 20px;
    line-height: 23px;
    color: #2A4365;
    font-weight: 400;
}

.email-inputBox {
    margin-top: 15px;
}

.emailInput-styling {
    height: 70px;
    width: 436px;
    border-radius: 5px;
    border: none;
    background: #EDF2F7;
}

/* password */
.passwordAndInputBox {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.symbolAndPassword {
    display: flex;
    align-items: center;
}

.password-PNG {
    height: 8px;
    width: 8px;
    margin-left: 4px;
}

.password-PNG1 {
    height: 6px;
    width: 16px;
    margin-top: 5px;
}

.password {
    height: 23px;
    width: 87px;
    margin-top: 12px;
    margin-left: 10px;
    border-radius: nullpx;
}

.password-styling {
    font-size: 20px;
    line-height: 23px;
    color: #2A4365;
    font-weight: 400;
}

.password-inputBox {
    margin-top: 15px;
    border-radius: 5px;
}

.passwordInput-styling {
    height: 70px;
    width: 436px;
    border-radius: 5px;
    border: none;
    background: #EDF2F7;
}

.register {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 45px;
}

.register-styling a {
    width: 74px;
    height: 23px;
    font-size: 20px;
    text-decoration: none;
    color: #FFFFFF;
    padding: 15px 70px 18px 70px;
    background: #2A4365;
    border-radius: 5px;
}