body {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #E5E5E5;
}

header {
    width: 100%;
    height: 80px;
    background: #2D3748;   
}

.headerSymbol{
    width: 30px;
    height: 24px;
    position: absolute;
    top: 30px;
    left: 56px;
    transform: rotate(2deg);
}

.headerSymbol1 {
    width: 20px;
    height: 15px;
    position: absolute;
    top: 22px;
    left: 50px;
    transform: rotate(0deg);
}

.title a{
    font-size: 20px;
    height: 23px;
    width: 85px;
    position: absolute;
    top: 25px;
    left: 101px;
    border-radius: nullpx;
    text-decoration: none;
    font-weight: 400;
    color: #FFFFFF;
}
.title span {
    font-weight: 500;
    color: #3182CE;
}

.signIn-InHeader {
    width: 109px;
    height: 43px;
    position: absolute;
    top: 16px;
    left: 1183px;
    border: 2px solid #f7fafc;
    border-radius: 5px;
}
.signInButton a{
    width: 80px;
    height: 23px;
    font-size: 20px;
    position: absolute;
    top: 23px;
    left: 1210px;
    text-decoration: none;
    color: #FFFFFF;
}

.register-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.loginPage-title {
    width: 128px;
    height: 35px;
    font-size: 30px;
    line-height: 35px;
    position: absolute;
    top: 130px;
}


.rivalStyling{
    font-style: normal;
    color: #2A4365;
    font-weight: normal;
    text-decoration: none;
}

.rivalStyling span {
    font-weight: 400;
    color: #3182CE;
}

.userEmailPassword {
    height: 555px;
    width: 512px;
    background: #FFFFFF;
    border-radius: 10px;
    position: absolute;
    top: 200px;
}


input {
    border-radius: 5px;
    border: none;
    background: #EDF2F7;
}

/* fullName */

.userName-PNG {
    height: 8px;
    width: 8px;
    position: relative;
    top: 30px;
    left: 48px;
}


.userName-PNG1 {
    height: 6px;
    width: 16px;
    position: relative;
    top: 33px;
    left: 44px;
}

.userName {
    height: 23px;
    width: 87px;
    position: relative;
    left: 75px;
    top: 20px;
    border-radius: nullpx;
}

.userNAme-styling {
    font-size: 20px;
    line-height: 23.44px;
    color: #2A4365;
    font-weight: 400;
}

.inputBox {
    position: relative;
    top: 40px;
    left: 42px;
    border-radius: 5px;
    /* text-align: left; */
}

.input-styling {
    width: 436px;
    height: 70px;
}

/* email */

.emailAddress-PNG {
    height: 7px;
    width: 20px;
    position: relative;
    top: 62px;
    left: 44px;
}

.emailAddress-PNG1 {
    height: 16px;
    width: 20px;
    position: relative;
    top: 60px;
    left: 44px;
    border-radius: 0px;
}

.emailAddress {
    height: 23px;
    width: 126px;
    position: relative;
    top: 40px;
    left: 75px;
    border-radius: nullpx;
}

.emailAddress-styling {
    font-size: 20px;
    line-height: 23px;
    color: #2A4365;
    font-weight: 400;
}

.email-inputBox {
    position: relative;
    left: 42px;
    top: 67px;
    border-radius: 5px;
}

.emailInput-styling {
    height: 70px;
    width: 436px;
}

/* password */

.password-PNG {
    height: 8px;
    width: 8px;
    position: relative;
    top: 87px;
    left: 51px;
    border-radius: 0px;
}

.password-PNG1 {
    height: 6px;
    width: 16px;
    position: relative;
    top: 90px;
    left: 47px;
    border-radius: 0px;
}

.password {
    height: 23px;
    width: 87px;
    position: relative;
    top: 78px;
    left: 75px;
    border-radius: nullpx;
}

.password-styling {
    font-size: 20px;
    line-height: 23px;
    color: #2A4365;
    font-weight: 400;
}

.password-inputBox {
    position: relative;
    top: 97px;
    left: 42px;
    border-radius: 5px;
}

.passwordInput-styling {
    height: 70px;
    width: 436px;
}

.register {
    width: 201px;
    height: 61px;
    position: relative;
    top: 130px;
    left: 277px;
    border-radius: 5px;
    background: #2A4365;
}

.register-styling a {
    width: 74px;
    height: 23px;
    font-size: 20px;
    position: relative;
    top: 83px;
    left: 340px;
    text-decoration: none;
    color: #FFFFFF;
}