body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: #E5E5E5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginPage-title {
    width: 128px;
    height: 35px;
    font-size: 30px;
    line-height: 35px;
    margin-top: 107px;
    margin-bottom: 39px;
}


.rivalStyling{
    color: #2A4365;
    font-weight:bolder;
    text-decoration: none;
}

.rivalStyling span {
    font-weight: bolder;
    color: #3182CE;
}

.EmailPassword {
    height: 513px;
    width: 518px;
    border-radius: 10px;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-top: 181px; */
}


/* email */

.emailAddressAndInputBox {
    display: flex;
    flex-direction: column;
}

.symbolsAndemail {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.emailAddress-PNG {
    height: 5px;
    width: 20px;
}

.emailAddress-PNG1 {
    height: 16px;
    width: 20px;
    border-radius: 0px;
}

.emailAddress {
    height: 23px;
    width: 127px;
    line-height: 23px;
    border-radius: nullpx;
    margin-left: 10px;
    margin-top: 30px;
    margin-bottom: 21px;
}

.emailAddress-styling {
    font-size: 20px; 
    line-height: 23px;
    color: #2A4365;
    font-weight:100;
}

.emailInput-styling {
    height: 70px;
    width: 436px;
    font-size: 24px;
    border-radius: 5px;
    border: none;
    background: #EDF2F7;
}

/* password */
.passwordAndInputBox {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.symbolAndPassword {
    display: flex;
    align-items: center;
    margin-top: 21px;
    margin-bottom: 21px;
}

/* .passwordTextBeforSymbols {
    align-items: center;
} */
.password-PNG {
    height: 7px;
    width: 20px;
    margin-left: 3.5px;
}

.password-PNG1 {
    height: 16px; 
    width: 20px;
    margin-top: 5px;
}

.password {
    height: 23px;
    width: 89px;
    line-height: 23px;
    margin-left: 5px;
    margin-top: 10px;
}

.password-styling {
    font-size: 20px; 
    color: #2A4365;
    font-weight: 400;
}

.passwordInput-styling {
    height: 70px;
    width: 436px;
    font-size: 24px;
    border-radius: 5px;
    border: none;
    background: #EDF2F7;
}

/* sign in */

.forgotAndSignIn {
    display: flex;
    align-items: center;
    margin-top: 43px;
}

.forgot {
    flex: 1;
}

.forgotPossword-styling a{
    font-weight: 400;
    font-size: 20px;
    color: #3182CE;
    text-decoration: none;
}

.signIn {
    background: #2A4365;
    padding: 18px 71px 18px 70px;
    border-radius: 5px;
}
.signIn-styling {
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;
    text-decoration: none;
}

.creatingAccount {
    margin-top: 43px;
    margin-bottom: 26px;
    padding: 15px 120px 19px 111px;
    border: 2px solid #2A4365;
    border-radius: 5px;
    text-align: center;
}

.creatingAccount-styling a{
    font-weight: 400;
    font-size: 20px;
    color: #2A4365;
    text-decoration: none;
}
